* {
    font-family: monospace, sans-serif;    
}

input {

    &.form-control {

        &:focus {
            border-color: #0069d9;
            outline: none;
            box-shadow: none;
        }
    }
}

.toast, .toast * {
    background-image: none !important;
    box-shadow: none !important;
}