<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand font heebo" href="/">Nick Neuman</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-caret-down" id="collapsed"></span>
        <span class="fa fa-caret-up" id="collapse"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/watcher">Watcher</a>
            </li>
        </ul>
    </div>
</nav>