nav.navbar {
    background: rgba(0,0,0,0.3);
}

.nav-link {
    cursor: pointer !important;
    margin: 0 !important;
    padding: 0 10px 0 0 !important;
}

#header-con {
    padding: 0;
    background: #1097F7;
}

#header {
    padding-top: 100px !important;
}

#header #pretitle {
    font-size: 30px;
    color: white;
}

#header #title {
    font-size: 70px !important;    
    color: #1B2F50;
}

#header #subtitle {
    font-size: 30px !important;
    color: white;
    position: relative;
    display: inline-block;
    margin: 0;
}

#header #cursor {
    position: absolute;
    right: -5px;
    top: 5px;
    height: 35px;
    width: 3px;
    border-radius: 10px;
    background: white;
    animation: blip 1s infinite;
}

@keyframes blip {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
}

#tabs {
    margin: 40px 0 0 0;
    padding: 0;
}

#tabs p {    
    padding-right: 20px;
    padding-bottom: 15px;
    color: white;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    transition: all ease 0.3s;
}

#tabs p.active .arrow {
    position: absolute;
    bottom: 0;
    left: calc(50% - 15px);
    width: 0 !important;
    height: 0 !important;
    border-bottom: solid 8px white;
    border-right: solid 8px transparent;
    border-left: solid 8px transparent;
}