#header-con {
    padding-top: 200px !important;
    padding-bottom: 25px;    
    background: linear-gradient(45deg, #BE2B41, #BE2B41);
}

#header #pretitle {
    font-size: 30px;
    color: white;
}

#header #title {
    font-size: 70px !important;    
    color: #1B2F50;
}

#header #subtitle {
    font-size: 30px !important;
    color: white;
    position: relative;
    display: inline-block;
    margin: 0;
}

#header #cursor {
    position: absolute;
    right: -5px;
    top: 5px;
    height: 35px;
    width: 3px;
    border-radius: 10px;
    background: white;
    animation: blip 1s infinite;
}

@keyframes blip {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
}