<!doctype html>
<html lan="en">
    <head>
        <title>{{{ title }}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Style -->
        <link rel="stylesheet" href="/public/css/style.css" />
        <link rel="stylesheet" href="/public/css/site.css" />
    </head>
    <body>
        <div id="main">
            <!--{{> site/navbar }}-->
            {{{ body }}}
        </div>
        <script src="/public/js/index.js"></script>
    </body>
</html>