body {
    background: #efefef;
}

#header-con {
    background: linear-gradient(45deg, #4d4f51, #616366);
    color: white;
    padding: 30px 10px;
    display: flex;
    justify-content: center;

    #header {
        width: 100%;
        max-width: 800px;
    }
}

#warning-banner {
    background: #edaf21;
    color: #454647;
    text-align: center;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    

    p {
        margin: 0;
    }
}

#body-con {
    padding: 30px 10px;
    display: flex;
    justify-content: center;

    #body {
        width: 100%;
        max-width: 800px;

        .section {
            padding: 20px;
            margin: 10px 0;
            border-radius: 5px;
            background: white;

            p, li {
                color: #767676;
            }
        }

        hr {
            width: 100%;
            box-sizing: border-box;
            background: #a3a3a3;
            height: 1px;
            padding: 0;
            margin: 0;
            border: none;
        }
    }
}

.btn.btn-primary {
    background: #4286f4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3em;

    &:hover {
        color: white;
        background: #3166bc;
    }
}