// Inputs
input {
    &.form-control {
        outline: none;
        box-shadow: none;
        border-radius: 2px;

        &:focus {
            border-color: $primary;
            outline: none;
            box-shadow: none;
        }
    }
}

// Buttons
button {
    &.btn {
        border-radius: 2px;
    }
}

// Dropdowns
.dropdown-menu {
    border-radius: 2px;
    border: solid 1px #e3e3e3;
    padding: 0;

    .dropdown-section-header {
        color: #a3a3a3;
        font-weight: bold;
        padding: 3px 3px 3px 10px;
        margin: 0;
        border-bottom: solid 1px #e3e3e3;
    }
}