<div class="container-fluid pt-5 pb-5" id="about-con">
    <div class="container" id="about">
        <div class="row">
            <div class="col-lg-8">
                <h4 class="text-grey">About Me</h4>
                <p>I specialize in many different technologies spanning the entire development cycle and
                    because of this, I am capable of taking a concept and bringing it into a deployable
                    product.</p>
                <p>If you have a project that needs an insightful developer, feel free to send me an email and I'll be
                    happy take a look. I enjoy new challenges and creating new and exciting things so the odds of us
                    working to gether are quite high.</p>
            </div>
            <div class="col-lg-4 invisible">
                <p>I am fluent with the following technologies.</p>
                <div class="p-0 pb-4 technologies">
                    <div *ngFor="let item of technologies">
                        <i class="{{ item.icon }}" [style.color]="item.color" [style.background]="item.back"
                            data-toggle="tooltip" data-placement="top" [title]="item.name"></i>
                    </div>
                </div>
                <p>In addition, I am comfortable using the following software and deployment tools.</p>
                <div class="p-0 pb-4 technologies">
                    <div *ngFor="let item of tools">
                        <i class="{{ item.icon }}" [style.color]="item.color" [style.background]="item.back"
                            data-toggle="tooltip" data-placement="top" [title]="item.name"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>