<div class="container-fluid pt-5 pb-5" id="about-con">
    <div class="container" id="about">
        <div class="row">
            <div class="col-lg-8">
                <p>I specialize in many different technologies spanning accross the entire development cycle. I am
                    capable of
                    taking a concept and bringing it through all stages into a deployable product. To do this I am
                    capable of collaborating with multiple departments, a small team or just myself to acheive
                    a specified goal.</p>
            </div>
            <div class="col-lg-4">
                <p>I am fluent with the following technologies.</p>
                <div class="p-0 pb-4 technologies">
                    <div *ngFor="let item of technologies">
                        <i class="{{ item.icon }}" [style.color]="item.color" [style.background]="item.back"
                            data-toggle="tooltip" data-placement="top" [title]="item.name"></i>
                    </div>
                </div>
                <p>In addition, I am comfortable using the following software and deployment tools.</p>
                <div class="p-0 pb-4 technologies">
                    <div *ngFor="let item of tools">
                        <i class="{{ item.icon }}" [style.color]="item.color" [style.background]="item.back"
                            data-toggle="tooltip" data-placement="top" [title]="item.name"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>