<div class="container pt-3">
    <div class="row">
        <div class="col-sm-10 col-md-8 mx-auto bg-light p-3 rounded">
            <h3 class="font slabo bold">about me</h3>
            <p class="text-muted">I am a self taught developer specialized in building applications using primarily PHP or NodeJS for server side logic. I specialize in many different technologies spanning the entire development cycle and because of this, I am capable of taking a concept and bringing it into a deployable product. To do this I frequently collaborate with multiple departments in order to bring a project to fruition.</p>
        </div>
    </div>
</div>