<div class="container-fluid pt-5 pb-5" id="work-con">
    <div class="container" id="about">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-grey">My Work</h4>
                <p>I have worked on many projects of varying sizes. Some are on my <a href="https://github.com/neecholaus"
                        target="_blank" rel="noopener">github</a>,
                    while others are private applications built for my employer. I will go into detail on some of my
                    most notable projects here.</p>
            </div>
            <div class="col-lg-12 pt-5">
                <h4>Custom DocuSign Solution</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <p>This project was quite exciting. My boss came to me and requested our own custom document
                            signing platform. At that point we were still using <a href="docusign.com" target="_blank"
                                rel="noopener">DocuSign</a>,
                            and while it is relatively cheap considering all it
                            provides, he wanted a more efficiently streamlined experience for our users.</p>

                        <p>This is the first time I'd had to work with manipulating PDF's programmatically and in order
                            to begin, I had to take a step back and break the project down. First I had to break it
                            down ask myself what needed to happen. I came up with this essentially:</p>

                        <ul>
                            <li><span>A user needed to create a digital signature</span></li>
                            <li><span>That signature needed to be added to a document in a specified location.</span></li>
                        </ul>

                        <p>After some thinking and consulting my coworkers I decided to somehow convert the user's
                            signature into an image, and then place that image on a PDF. I found a library on Github
                            called <a href="https://github.com/szimek/signature_pad" target="_blank" rel="noopener">SignaturePad
                                JS</a> that did some of the heavy lifting. All I had to do was configure it
                            for our system and do some minor styling.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-center pt-5 pb-5">
                            <img src="/assets/signature-pad.png" id="signature-pad-img" alt="Signature Pad" />
                        </div>
                    </div>
                </div>

                <p>Once that was done, I spent some time looking into how to take that image, and insert it
                    into a PDF. I finally stumbled onto FPDI, a library for parsing and manipulating pdfs.
                    With this addon I was able to complete the final step. So now whenever we have a new document
                    needing our user's signature, all I have to do is plug some coordinates into my code and the rest
                    is taken care of.</p>
            </div>
        </div>
    </div>
</div>