<div class="container-fluid p-0">
    <div class="p-2 bg-white" style="border-bottom: solid 1px #e3e3e3;">
        {{#if user.admin }}
            <a href="/watcher/generate-invite">
                <button type="button" class="btn btn-outline-dark btn-sm rounded-0">
                    <i class="fa fa-envelope mr-2"></i> Send Invite
                </button>
            </a>
        {{/if}}
        <button type="button" class="btn btn-outline-dark btn-sm rounded-0">
            <i class="fa fa-clock-o mr-2"></i> Seek Time
        </button>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <find-capture class="mt-3"></find-capture>
            </div>
            <div class="col-md-8">
                <capture-canvas class="mt-3"></capture-canvas>
            </div>
        </div>
    </div>
</div>