<div class="container-fluid" id="login-con">
    <div class="row pt-5">
        <div class="col-md-6 col-lg-4 mx-auto">
            <div class="p-4" id="login-box">
            {{#if errors}}
                {{#each errors}}
                    <div class="alert bg-danger text-white rounded">
                        <i class="fa fa-exclamation-triangle mr-2"></i> {{this}}
                    </div>
                {{/each}}
            {{/if}}
            <login></login>
            </div>
        </div>
    </div>
</div>