<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand" href="/watcher"><i class="fa fa-eye mr-2"></i> Watcher</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-caret-down" id="collapsed"></span>
        <span class="fa fa-caret-up" id="collapse"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Nick</a>
            </li>
            {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="/watcher/logout">Logout</a>
                </li>
            {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/watcher/login">Login</a>
                </li>
            {{/if}}
        </ul>
    </div>
</nav>