@import "../../scss/Global.scss";

#watcher {
    margin: 0;
    padding: 0;
    background: #414141;
    min-height: calc(100vh);
}

#navbar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 51px;
    background: #414141;
    border-top: solid 1px #313131;
    padding: 10px;
    box-sizing: border-box;

    #navbar {
        margin: 0 auto;
        width: 100%;
        max-width: 400px;
        display: flex;

        .nav-link {
            cursor: pointer;
            border: solid 1px $darkest;
            background: $dark;
            text-decoration: none;
            border-radius: 4px;
            flex-grow: 1;
            text-align: center;
            margin: 0 5px;
            font-size: 14px;
            line-height: 16px;
            color: #939393;
            padding: 6px 20px;
            // box-sizing: border-box;
            // display: inline-block;

            &:hover {
                border-color: $darkest;
                background: $dim;
            }
        }
    }
}