#header-con {
    padding-top: 200px !important;
    padding-bottom: 25px;
    background: linear-gradient(45deg, #1B2F50, rgba(27,47,80,0.6));
}

#header #title {
    font-size: 70px !important;
    color: #EB8869;
}

#header #subtitle {
    font-size: 30px !important;
    color: white;
}

#about {
    font-size: 20px;
    color: #696969;
}