#login-con {
    min-height: calc(100vh - 50px);
    background: #f3f3f3;
}

#login-box {
    padding: 20px;
    background: white;
    border-radius: 1em;
    width: 100%;
    max-width: 500px;
    margin: 0px auto;
    position: relative;
}

#login-form {
    position: relative;
}


// #login-con {
//     min-height: calc(100vh);
//     display: flex;
// }

// #login-box {
//     padding: 50px 20px 20px 20px;
//     background: white;
//     flex: 5;
// }

// .login-filler {
//     background: url('/public/images/watcher-login-2.jpg');
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     flex: 0;

//     @media(min-width: 600px) {
//         flex: 5;
//     }

//     @media(min-width: 800px) {
//         flex: 10;
//     }
// }