@mixin button($resting, $hover, $light) {
    border: solid 1px $resting;
    background: white;
    color: #737373;

    &:hover {
        border-color: $hover;
        background-color: $light;
        color: black;
    }
}

.btn {
    border-radius: 2px;
    font-size: 14px;
    line-height: 16px;
    padding: 6px 20px;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;

    &.btn-utility {
        @include button($primary, $primary-hover, $primary-light);
    }

    &.btn-primary {
        @include button($primary, $primary-hover, $primary-light);
    }

    &.btn-sm {
        padding: 9px 18px;
        font-size: 14px;
    }

    &:focus {
        outline: none;
    }
}