button {
    cursor: pointer !important;

    &:focus {
        outline: none;
    }

    &.slide-icon {
        i {
            margin-left: -10px;
            color: transparent;
            margin-right: -8px;
            transition: all ease 0.3s;
        }

        &:hover {
            i {
                margin-left: inherit;
                color: inherit;
                opacity: 1;
                margin-right: 10px;
                transition: all ease 0.3s;
            }
        }
    }
}

@mixin button($color, $resting, $hover) {
    background: $resting;
    color: $color;
    &:hover {
        background: $hover;
    }
}

.btn {
    padding: 10px 30px;
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
    transition: all ease 0.3s;
    text-decoration: none;

    &:not(.outline) {
        border: none;
        border-radius: 3em;
    }

    &.btn-primary {
        @include button(white, $primary, $primary-hover);
    }

    &.btn-success {
        @include button(white, $success, $success-hover);
    }

    &.btn-danger {
        @include button(white, $danger, $danger-hover);
    }

    &.btn-light {
        @include button(black, $light, $light-hover);
    }

    &.btn-sm {
        padding: 9px 18px;
        font-size: 14px;
    }

    &:focus {
        outline: none;
    }
}

#navbar {
    box-sizing: border-box;
    .nav-link {
        border-radius: 0;
        border: solid 1px #d3d3d3;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 2px;
        margin: 0 5px;
        font-size: 14px;
        color: #939393;
        box-sizing: border-box;
    }
}