button {
    &.slide-icon {
        i {
            margin-left: -10px;
            color: transparent;
            margin-right: 0;
            transition: all ease 0.3s;
        }

        &:hover {
            i {
                margin-left: inherit;
                color: inherit;
                opacity: 1;
                margin-right: 10px;
                transition: all ease 0.3s;
            }
        }
    }
}

.btn {
    &.btn-transparent {
        background: rgba(255,255,255,0.3);
        color: white;
        font-weight: 900;
        border: none;

        &:hover {
            background: rgba(255,255,255,0.5);
            color: white;
        }
    }
}