.pointer {
    cursor: pointer !important;
}

.bg-light {
    background: #f3f3f3;
}

.rounded {
    border-radius: 5px;
}

.text-muted {
    color: #989898;
}

.text-success {
    color: $success;
}

.w-100 {
    width: 100%;
}