input {
    &.dark {
        background: black;
        color: white !important;
        border: none;

        &.transparent {
            background: rgba(0,0,0,0.4);
        }

        &::placeholder {
            color: #e3e3e3;
        }

        &:focus {
            //border-color: white;
        }
    }

    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

.input-group {
    .input-group-prepend {
        margin: 0;
        .input-group-text {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            border: none;
            min-width: 40px;

            &.dark {

                background: rgba(0, 0, 0, 0.4);
                color: white;
            }
        }
    }
}