input {
    &:not([type="file"]) {
        background: $dark;
        color: #989898;
        width: 100%;
        border: solid 1px $darkest;
        padding: 10px 20px;
        border-radius: 4px;
        font-family: sans-serif;
        font-size: 14px;
        box-sizing: border-box;
        cursor: pointer;


        &:hover {
            background: $dim;
        }

        &:focus {
            background: #e9e9e9;
            outline: none !important;
            box-shadow: none !important;
        }

        &::placeholder {
            color: #989898;
        }
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    background: #f3f3f3;
    color: #898989;
    width: 100%;
    border: none;
    padding: 13px 20px;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 14px;

    &:hover {
        background: #e9e9e9;
    }

    &:focus {
        background: #e9e9e9;
        outline: none !important;
        box-shadow: none !important;
    }

    &::placeholder {
        color: #989898;
    }
}