input {
    border-radius: 0 !important;
    &.dark {
        background: black;
        color: white !important;
        border-color: white;

        &.transparent {
            background: rgba(0,0,0,0.4);
        }

        &::placeholder {
            color: #e3e3e3;
        }

        &:focus {
            border-color: white;
        }
    }

    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

.input-group {
    .input-group-text {
        border-radius: 0 !important;
        &.dark {
            border-color: white;
            background: rgba(0,0,0,0.4);
            color: white;
        }
    }
}