$primary:       #357df2;
$primary-hover: #2b6dd8;

$success:       #45bc6f;
$success-hover: #3cad64;

$danger:        #ed5547;
$danger-hover:  #ce493d;

$light:         #d3d3d3;
$light-hover:   #bcbcbc;

@import 'buttons';
@import 'fonts';
@import 'global-helpers';
@import 'images';
@import 'inputs';
@import 'margin';
@import 'navbar';
@import 'padding';

nav {
    &.navbar:not(.no-back) {
        background-image: url('/public/images/navbar-back.jpg') !important;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.raised-card {
    padding: 16px;
    border-radius: 0px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    background: white;
}