$primary:       #357df2;
$primary-light: #d7e0ef;
$primary-hover: #2b6dd8;

$success:       #45bc6f;
$success-hover: #3cad64;

$danger:        #ed5547;
$danger-hover:  #ce493d;

$light:         #d3d3d3;
$light-hover:   #bcbcbc;

$dimmer:        #939393;
$dim:           #636363;
$dark:          #525252;
$darker:        #414141;
$darkest:       #313131;

@import 'buttons';
@import 'fonts';
@import 'global-helpers';
@import 'images';
@import 'inputs';
@import 'margin';
// @import 'navbar';
@import 'padding';