/** Colors 
1B2F50 DARK BLUE
EB8869 SALMON 
BE2B41 CRIMSON
414A5C DARK GRAY
DCD3B3 CREAM

**/

/** Backgrounds **/
* .bg-primary {
    background-color: #1B2F50 !important;
}

/** Fonts Families**/
.font-roboto {
    font-family: 'Roboto', sans-serif;
}

/** Text Colors **/
.text-grey {
    color: #1B2F50;
}

/** GLOBAL **/
* {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 20px;
    color: #787878;
}
