{{#if successes}}
    {{#each successes}}
        <div class="alert alert-success rounded-0">
            <i class="fa fa-check-circle"></i> {{this}}
        </div>
    {{/each}}
{{/if}}
<upload-image></upload-image>